.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    box-shadow: 3px 26px 43px -21px rgba(0,0,0,0.98);
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  
  img {
    width: 12rem;
  }

  small {
    font-size: .7em;
  }